@import "tailwindcss";
  
/* body {
    background-color: #262626;
    color: white;
  }
   */

body {
  @apply bg-black text-white;
}

spline-viewer {
  width: 170%;
  height: 160%;
  display: block;
  margin-top: -250px; /* Adjust this value based on your navbar height */
  margin-left: -790px; 
  

  position: relative;
}

#particles canvas{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #404040; /* Light gray track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #777777; /* Medium gray thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080; /* Darker gray on hover */
}
